<div class="info mt-4">
    <div class="description">
        <h2>DESCRIPCIÓN</h2>
        <p>{{entertainment.description}}</p>
    </div>
    <div *ngIf="!isAnEvent">
        <h3>CALIFICACIÓN</h3>
        <div class="row gx-2">
            <div class="col-auto">
                <h3 class="fw-light">{{rate}}</h3>
            </div>
            <div class="col">
                <ng-template #rating let-fill="fill"> 
                    <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9734;
                    </span>
                </ng-template>
                <ngb-rating [(rate)]="rate" [starTemplate]="rating" [readonly]="true" [max]="5"></ngb-rating>
            </div>
        </div>
    </div>
    <div *ngIf="isAnEvent">
        <h3>Fecha y Horarios</h3>
        <p class="mb-1 mt-1">Fecha: 30/09/2022</p>
        <p class="mb-1">Horario: 23:00 - 6:00</p> 
    </div>
    <div class="ubication mt-2">
        <h3>UBICACIÓN</h3>
        <img class="map" src="https://maps.googleapis.com/maps/api/staticmap?center={{ubication.lat}}, {{ubication.long}}&zoom=17&size=300x300&key=AIzaSyB3I7IivhrGbnu07pdRW3mflhN3xilRUwQ&map_id=dd44d28a312be6da" (click)="openMap()">
    </div>
</div>