<div class="fondo">
    <div class="blur-back">
        <div class="mx-3">
            <app-header-navbar [firstIcon]="'bi bi-chevron-left'" [backPage]="'/presentation'"></app-header-navbar>
        </div>
        <div class="text-light" fxLayoutAlign="center center">
            <h1 class="title_margin mt-5">LOGIN</h1>
        </div>
        <div class="mt pb-4" fxLayout="column" fxLayoutAlign="space-evenly center">
            <app-input-user-credentials [inputLabel]="'Nombre'"></app-input-user-credentials>
            <app-input-user-credentials [inputLabel]="'Apellido'"></app-input-user-credentials>
        </div>
        <div class="mt-5" fxLayoutAlign="center center">
            <a routerLink="/home" routerLinkActive="active" fxFlex="70">
                <app-generic-button [buttonStyle]="'fill'" [btnText]="'Login'"></app-generic-button>
            </a>
        </div>
        <div class="bottom-button">
            <div class="center-or">
                <p class="text-center my-1 text-light px-1 or">or</p>
            </div>
            <div fxLayoutAlign="center center">
                <a routerLink="/singUp" routerLinkActive="active" fxFlex="70">
                    <app-generic-button [buttonStyle]="'empty'" [btnText]="'Signup'"></app-generic-button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- <div class="form-check form-switch">
    <input class="form-check-input t" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label text-light" for="flexSwitchCheckDefault">Remember me?</label>
</div> -->