<div class="{{!isMobile ? 'desktopStyle' : 'mobileStyle fondo'}}">
    <div class="center ptGeneric">
        <h1 class="text-light">HOY SE SALE</h1>
    </div>
    <a routerLink="login" routerLinkActive="active" class="margin d-flex">
        <app-generic-button class="size" [buttonStyle]="'fill'" [btnText]="'Iniciar sesión'"></app-generic-button>
    </a>
    <div class="center-or">
        <p class="my-1 text-light px-1 or">o</p>
    </div>
    <a routerLink="singUp" routerLinkActive="active">
        <app-generic-button class="size" [buttonStyle]="'empty'" [btnText]="'Registrarse'"></app-generic-button>
    </a>
    <footer>
        <div class="left right">
            <p class="fw-light text-light mt-2 text-center">CREADO POR MAXIMILIANO Y MATIAS, V 0.1</p>
        </div>
    </footer>
</div>