<div class="fondo {{!isMobile ? 'desktopStyle' : 'mobileStyle'}}">
    <div class="center ptGeneric">
        <app-app-title></app-app-title>
    </div>
    <a routerLink="login" routerLinkActive="active" class="margin d-flex">
        <app-generic-button class="size" [buttonStyle]="'fill'" [btnText]="'Login'"></app-generic-button>
    </a>
    <div class="center-or">
        <p class="my-1 text-light px-1 or">or</p>
    </div>
    <a routerLink="singUp" routerLinkActive="active">
        <app-generic-button class="size" [buttonStyle]="'empty'" [btnText]="'Signup'"></app-generic-button>
    </a>
    <footer>
        <div class="left right">
            <p class="fw-light text-light mt-2 text-center">MADE BY MAXIMILIANO Y MATIAS, V 0.1</p>
        </div>
    </footer>
</div>