@mixin navbar1 ($justifyContent) {
    display: flex;
    justify-content: $justifyContent;

    .animatedLink {
        @include animatedLink();
    }
}

@mixin animatedLink {
    display: inline-block;
    text-decoration: none;
}

@mixin linkStyle ($fontSize, $color) {
    align-items: center;
    color: $color;
    font-size: $fontSize;
}

@mixin animatedLinkEvents {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(180deg, #D450E6 0%, #6B2CF5 100%);
    transition: width .3s;
}

@mixin animatedLinkHover {
    width: 100%;
}

@mixin fillColor {
    background: #D450E6;
    background: -webkit-gradient(linear, left top, left bottom, from(#D450E6), to(#6B2CF5));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-fluid {
    padding-left: 8%;
    padding-right: 8%;
}

.navbarMobile .navbar {
    background-color: #181818;
    position: fixed;
    bottom: 0;
    z-index: 1;

    @include navbar1(space-around);

    border-top: 2px solid #636363;
    padding: 0;
    width: 100%;

    a {
        @include linkStyle(1.3em, #636363);
        height: 100%;
    }

    .animatedLink::before {
        @include animatedLinkEvents();
    }

    .animatedLink.hover::before {
        @include animatedLinkHover();
    }

    .fillColor {
        @include fillColor();
    }
}


.navbarDesktop .navbar {
    @include navbar1(flex-end);
    border-bottom: 2px solid #636363;
    padding-top: 2vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    flex-wrap: nowrap;

    a {
        @include linkStyle(1em, white);
        margin-left: 7%;
        height: 2rem;
    }

    a.first {
        margin-left: 0;
    }

    p {
        margin: 0;
        height: 100%;
    }

    .animatedLink::after {
        @include animatedLinkEvents();
    }

    .animatedLink.hover::after {
        @include animatedLinkHover();
    }

    .hover p {
        @include fillColor();
    }

    h4 {
        margin-right: auto;
        margin-left: 0.5%;
        height: auto;
        margin-bottom: 0;
    }
}

.logout {
    position: absolute;
    top: 0.5%;
    right: 9%;
    height: 2rem;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.bi::before {
    line-height: 2;
}