.text-style {
    font-size: small;
    font-weight: 200;
}

.border-top{
    border-color: #636363 !important;
}

.row.border-top{
    flex-wrap: nowrap;
}

.row h5{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}