<div class="headerNavbar">
    <div class="headerBackIcon">
        <a routerLink="{{this.backPage}}"><app-button-icon [iconClass]="'bi bi-chevron-left'"></app-button-icon></a>
    </div>  
    <div class="ms-3">
        <app-header-text [text]="currentText"></app-header-text>
    </div>
    <div class="container-fluid headerIcons p-0">
        <app-button-icon *ngIf="currentIcon1" [iconClass]="currentIcon1"></app-button-icon>
        <app-button-icon class="ms-3" *ngIf="currentIcon2" [iconClass]="currentIcon2" (click)="emitEvent()" [@favorite]="currentIcon2 == 'bi bi-bookmark' ? 'putFavorite' :'quitFavorite'"></app-button-icon>
    </div>
</div>