<div class="navbar">
    <a class="anim-link {{this.icons[0].includes('fillColor') ? 'hover' : ''}}" routerLink="/home" (click)="fillIcon(0)"><i class="{{icons[0]}} px-2"></i></a>
    <a class="anim-link {{this.icons[1].includes('fillColor') ? 'hover' : ''}}" routerLink="/search" (click)="fillIcon(1)"><i class="{{icons[1]}} px-2"></i></a>
    <a class="anim-link {{this.icons[2].includes('fillColor') ? 'hover' : ''}}" routerLink="/calendar" (click)="fillIcon(2)"><i class="{{icons[2]}} px-2"></i></a>
    <a class="anim-link {{this.icons[3].includes('fillColor') ? 'hover' : ''}}" routerLink="/chats" (click)="fillIcon(3)"><i class="{{icons[3]}} px-2"></i></a>
    <a class="anim-link {{this.icons[4].includes('fillColor') ? 'hover' : ''}}" routerLink="/profile" (click)="fillIcon(4)"><i class="{{icons[4]}} px-2"></i></a>
</div>
