.navbar{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #636363;
    background-color: #181818;
    height: 5vh;
    //width: 90vw;
    padding: 0;
    
    position: fixed;
    bottom: 0%;
    width: 100%;

    a{
        display: flex;
        align-items: center;
        height: 100%;
        color:#636363;
        border-top: 3px solid #D450E6;
        font-size: 1.3em;
    }
}