.mt {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-button {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

a {
    all: unset;
}

.title_margin{
    margin-top: 22vh !important;
}

.alert{
    position: fixed;
    right: 2%;
    max-width: 80%;
}