<div class="{{isMobile ? 'fondo' : ''}}">
    <div class="blur-back">
        <p class="alert" *ngIf="errorMessage" >
            <ngb-alert [@alertMessages] [type]="'danger'" (closed)="errorMessage = undefined">{{errorMessage}}</ngb-alert>
        </p>
        <div class="mx-3" *ngIf="isMobile">
            <app-header-navbar [firstIcon]="'bi bi-chevron-left'" [backPage]="'/presentation'"></app-header-navbar>
        </div>
        <h1 class="text-light title_margin mt-5 center">INICIAR SESIÓN</h1>
        <div class="mt pb-4 size">
            <app-input-user-credentials #username class="w-100" [inputLabel]="'Nombre de usuario'"
                [inputTypeAutocomplete]="'nickname'">
            </app-input-user-credentials>
            <app-input-user-credentials #password class="w-100" [inputLabel]="'Contraseña'"
                [inputTypeAutocomplete]="'new-password'" [inputType]="'password'">
            </app-input-user-credentials>
        </div>
        <div class="mt-5">
            <app-generic-button (click)="login()" class="size" [buttonStyle]="'fill'" [btnText]="'Login'"></app-generic-button>
        </div>
        <div class="{{isMobile ? 'bottom-button' : ''}}">
            <div class="center-or">
                <p class="text-center my-1 text-light px-1 or">or</p>
            </div>
            <a routerLink="../singUp" routerLinkActive="active">
                <app-generic-button class="size pb-3" [buttonStyle]="'empty'" [btnText]="'Signup'"></app-generic-button>
            </a>
        </div>
    </div>
</div>