<div class="home mx-3">
    <app-header-navbar class="prub" [currentText]="'HOME'" [withBackButton]="false"></app-header-navbar>
    <div class="links">
        <a routerLink="/search">
            <div class="bailes">
                <p>BAILES</p>
            </div>
        </a>
        <a routerLink="/search">
            <div class="eventos">
                <p>EVENTOS</p>
            </div>
        </a>
        <a routerLink="/search">
            <div class="bares">
                <p>BARES</p>
            </div>
        </a>
        <a routerLink="/search">
            <div class="pubs">
                <p>PUBS</p>
            </div>
        </a>
    </div>
</div>