<div class="home">
    <app-header-navbar [currentText]="'HOME'"></app-header-navbar>
    <app-chat-message-page></app-chat-message-page>
    <div class="links">
        <a routerLink="/search">
            <div class="bailes">
                <p>BAILES</p>
            </div>
        </a>
        <a routerLink="/search">
            <div class="eventos">
                <p>EVENTOS</p>
            </div>
        </a>
        <a routerLink="/search">
            <div class="bares">
                <p>BARES</p>
            </div>
        </a>
        <a routerLink="/search">
            <div class="pubs">
                <p>PUBS</p>
            </div>
        </a>
        <a routerLink="/search">
            <div class="mapas">
                <p>MAPAS</p>
            </div>
        </a>
    </div>
</div>