<div class="home">
    <div class="content">
        <app-header-navbar class="prub" [currentText]="'HOY SE SALE'" [withBackButton]="false"></app-header-navbar>
        <div class="links">
            <div class="locales">
                <div class="bares-pubs">
                    <a class="bares" routerLink="/search">
                        <p>BARES</p>
                    </a>
                    <a class="pubs" routerLink="/search">
                        <p>PUBS</p>
                    </a>
                </div>
                <a class="bailes" routerLink="/search">
                    <p>BAILES</p>
                </a>
            </div>
            <a class="eventos" routerLink="/search">
                <p>EVENTOS</p>
            </a>
        </div>
    </div>
</div>