.infoDesktop {
    color: white;
    width: 100%;
    height: 84vh;
    padding-top: 2%;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 2%;

    h3 {
        text-align: center;
        padding-bottom: 0.5rem;
    }

    .cont-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .cont-2 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .cont-3 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .cont-4 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 7;
    }

    .cont-5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 13;
    }

    .cont-6 {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 13;
    }

    .local-images {
        //background-color: aqua;
        height: 40vh;

        .carousel-container {
            width: 100%;
            height: 100%;

            .carousel {
                width: 100%;
                height: 100%;

                .images {
                    width: 100%;
                    overflow: hidden;
                    border-radius: 2rem;
                    height: 40vh;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .header {
        font-size: 2rem;
        font-weight: bold;

        p {
            margin: 0;
        }
    }

    .description {
        font-size: 1rem;
        overflow-y: auto;
    }

    .ubication {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h2 {
            margin: 0;
        }

        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
            border: 1px solid #636363;
            border-radius: 2rem;
        }
    }

    .events {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.carousel-inner {
    padding-bottom: 3vh;
}


.infoMobile {
    color: white;
    overflow-x: hidden;
    width: 100%;
    height: auto;

    .star {
        position: relative;
        display: inline-block;
        font-size: 2rem;
        color: #FFC700;
    }

    .full {
        color: #FFC700;
    }

    .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: #FFC700;
    }

    h2 {
        margin: 0;
    }

    .col-auto {
        display: flex;
        align-items: flex-end;
    }

    .map {
        img {
            object-fit: cover;
        }

        border-radius: 2rem;
    }

    .ubication {

        img {
            width: 100%;
            height: 20vh;
            object-fit: cover;
            border: 1px solid #636363;
            border-radius: 2rem;
        }
    }


}

.calification {
    width: auto;

    .row {
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .star {
        position: relative;
        display: inline-block;
        font-size: 2rem;
        color: #FFC700;
    }

    .full {
        color: #FFC700;
    }

    .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: #FFC700;
    }
}

p.col-10 {
    padding-right: 5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.p {
    position: relative;
}

.timer p {
    margin: 0;
    font-size: xxx-large;
}
.mx-2{
    text-align: center;
}
.title {
    border-top: solid 1px white;
    font-size: x-large;
    font-weight: 200;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pos {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.separator{
    padding-bottom: 2rem;
}

// .time{
//     background: linear-gradient(180deg, rgb(212, 80, 230) 0%, #6B2CF5 100%);;
//     height: 30%;
//     width: 30%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 20px;
// }