<div *ngIf="isMobile && entertainment; else elseBlock" class="infoMobile">
    <div class="description">
        <h2>DESCRIPCIÓN</h2>
        <p>{{entertainment.description}}</p>
    </div>

    <div *ngIf="!isAnEvent" class="calification">
        <h3>CALIFICACIÓN</h3>
        <div class="row gx-2">
            <div class="col-auto">
                <h3 class="fw-light">{{Rate}}</h3>
            </div>
            <div class="col">
                <ng-template #rating let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9734;
                    </span>
                </ng-template>
                <ngb-rating [(rate)]="Rate" [starTemplate]="rating" [readonly]="true" [max]="5"></ngb-rating>
            </div>
        </div>
    </div>
    <div class="ubication mt-2">
        <h3>UBICACIÓN</h3>
        <img class="map" src="{{'data:image/png;base64,' + entertainment.locationImage}}" (click)="openMap()">
    </div>

    <div *ngIf="!isAnEvent" class="events mt-2">
        <h3>EVENTOS</h3>
        <app-cards-grid [setEntertainments]="EntertainmentEventsMobile"></app-cards-grid>
    </div>
</div>
<!--ME PARECE QUE HAY COMO MUCHOS DIV, CAPAZ SE PUEDE ACORTAR UN POCO-->
<ng-template #elseBlock>
    <div class="infoDesktop" *ngIf="entertainment">
        <div class="local-images cont-1">
            <div class="carousel-container">
                <ngb-carousel class="carousel" #carousel [interval]="3000" [showNavigationIndicators]="false"
                    [showNavigationArrows]="false">
                    <ng-template ngbSlide *ngFor="let img of entertainment.imagesLinks">
                        <a href="{{img}}" target="_blank" rel="nofollow noopener noreferrer">
                            <div class="images">
                                <img [src]="img" alt="">
                            </div>
                        </a>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>

        <div class="header cont-2 row">
            <p class="col-10">{{entertainment.name}}</p>
            <app-header-navbar class="index col-2 ms-auto" [backPage]="'/search'" [currentIcon2]="Icon"
                [currentIcon1]="'bi bi-chat-left'" (icon2Event)="changFavoriteIcon()" (icon1Event)="redirectToChat()">
            </app-header-navbar>
        </div>

        <div *ngIf="!isAnEvent" class="calification">
            <div class="row gx-2">
                <div class="col-auto">
                    <h3 class="fw-light">{{Rate}}</h3>
                </div>
                <div class="col">
                    <ng-template #rating let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9734;
                        </span>
                    </ng-template>
                    <ngb-rating [(rate)]="Rate" [starTemplate]="rating" [readonly]="true" [max]="5"></ngb-rating>
                </div>
            </div>
        </div>

        <div class="description cont-4">
            <p>{{entertainment.description}}</p>
        </div>

        <div class="ubication cont-5">
            <h3>UBICACIÓN</h3>
            <img class="map" src="{{'data:image/png;base64,' + entertainment.locationImage}}" (click)="openMap()">
        </div>

        <div class="events cont-6" *ngIf="!isAnEvent">
            <h3>EVENTOS</h3>
            <div class="carousel-events">
                <ngb-carousel *ngIf="entertainmentEvents.length > 0" [wrap]="false" id="carouselDesktop"
                    class="carousel" [interval]="3000" [showNavigationIndicators]="false">
                    <ng-template ngbSlide *ngFor="let entertainments of entertainmentEvents; let i = index">
                        <app-card [@searchedCardsDesktop]="{value:'', params:{delay:1/10}}"
                            [entertainment]="entertainments"></app-card>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
        <div class="timer cont-6" *ngIf="isAnEvent">
            <h3>FALTA POCO!!</h3>
            <div class="pos">
                <div class="mx-2">
                    <p>{{this.countdown.days}}</p>
                    <span class="title">Days</span>
                </div>
                <p class="separator">:</p>  
                <div class="mx-2">
                    <p>{{this.countdown.hours}}</p>
                    <span class="title">Horas</span>
                </div>
                <p class="separator">:</p>
                <div class="mx-2">
                    <p>{{this.countdown.minutes}}</p>
                    <span class="title">Minutos</span>
                </div>
                <p class="separator">:</p>
                <div class="mx-2">
                    <p>{{this.countdown.seconds}}</p>
                    <span class="title">Segundos</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>