.display-search-info{
    width: 90vw;
    .search-entertainment{
        overflow-y: hidden;
    }
}

.cards-grid-search{
    width: 90vw;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}