

.ptGeneric{
    padding-top: 30vh;
}

.desktopStyle .margin {
    margin-top: 20vh;
}

.mobileStyle .margin{
    margin-top: 15vh;
}

footer .left{
    border-top: 1px solid rgba(255, 255, 255, 0.596);
}

.left {
    margin-left: 9vh;
}

.right {
    margin-right: 9vh;
}

.or {
    display: inline-block;
    position: relative;
}

.or::after, .or::before{
    content: "";
    position: absolute;
    width: 5em;
    height: 1px;
    background-color: rgba($color: white, $alpha: 0.5);
    top: 0.78em;
}

.or::before {
    left: -5rem;
}

.or::after {
    right: -5rem;
}

.center-or {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: small;
}


a {
    all: unset;
}

.center-or p{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

@media screen and (min-width: 900px){
    .center-or p{
        margin-top: 0!important;
        margin-bottom: 0 !important;
    }
}