.center{
    text-align: center;
    justify-content: center;
}

.mt{
    margin-top: 60%;
}

.mb {
    margin-top: 70%;
}

.left {
    margin-left: 17%;
}

.right {
    margin-right: 17%;
}

.textFoot {
    font-size: small;
}