<div class="fondo {{!isMobile ? 'desktopStyle' : 'mobileStyle'}}">
    <div class="center mtGeneric">
        <app-app-title></app-app-title>
    </div>
    <div fxLayoutAlign="center center" class="margin">
        <a routerLink="/login" fxFlex="70" fxFlex.gt-xs="270px" routerLinkActive="active">
            <app-generic-button [buttonStyle]="'fill'" [btnText]="'Login'"></app-generic-button>
        </a>
    </div>
    <div fxLayoutAlign="center center" class="{{!isMobile ? '' : 'mt-4 mb-4'}}">
        <p class="center my-1 text-light px-1 or">or</p>
    </div>
    <div fxLayoutAlign="center center">
        <a routerLink="/singUp" fxFlex="70" fxFlex.gt-xs="270px" routerLinkActive="active">
            <app-generic-button [buttonStyle]="'empty'" [btnText]="'Signup'"></app-generic-button>
        </a>
    </div>
    <footer>
        <div class="left right">
            <p class="fw-light text-light mt-2 text-center">MADE BY MAXIMILIANO Y MATIAS, V 0.1</p>
        </div>
    </footer>
</div>