<div class="fondo">
    <div class="center mtGeneric">
        <app-app-title></app-app-title>
    </div>
    <div class="center {{!isMobile ? 'mtDesktop' : 'mtMobile'}}">
    <a routerLink="/login" routerLinkActive="active"><app-generic-button [buttonStyle]="!isMobile ? 'fill buttonDesktop' : 'fill buttonMobile'" [btnText]="'Login'"></app-generic-button></a>
    </div>
    <div class="row center-or {{!isMobile ? '' : 'mt-4 mb-4'}}">
        <p class="col-auto text-center mt-1 mb-1 text-light px-1 or">or</p>
    </div>
    <div class="center">
        <a routerLink="/singUp" routerLinkActive="active"><app-generic-button [buttonStyle]="!isMobile ? 'empty buttonDesktop' : 'empty buttonMobile'" [btnText]="'Signup'"></app-generic-button></a>
    </div>
    <footer>
        <div class="{{!isMobile ? '' : 'border-top'}} left right"><p class="fw-light text-light mt-2 text-center">MADE BY MAXIMILIANO Y MATIAS, V 0.1</p></div>
    </footer>
</div>