.filter{
    height: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #636363;
    color: #636363;

    p{
        height: 4vh;
        margin: 0;
        margin-top: 1%;
        border-bottom: 3px solid #D450E6;
    }
}