<div *ngIf="isMobile; else elseBlock" class="homeMobile">
    <div class="home">
        <div class="content">
            <app-header-navbar [currentText]="'HOY SE SALE'" [currentIcon1]="'bi bi-box-arrow-left'"
                (icon1Event)="openLogoutModal()"></app-header-navbar>
            <div class="links">
                <div class="locales">
                    <div class="bares-pubs">
                        <a [@homeCards]="{value:'',params:{delay:0}}" class="bares" routerLink="/search">
                            <p>BARES</p>
                        </a>
                        <a [@homeCards]="{value:'',params:{delay:0.5}}" class="pubs" routerLink="/search">
                            <p>PUBS</p>
                        </a>
                    </div>
                    <a [@homeCards]="{value:'',params:{delay:0.7}}" class="bailes" routerLink="/search">
                        <p>BAILES</p>
                    </a>
                </div>
                <a [@homeCards]="{value:'',params:{delay:1}}" class="eventos" routerLink="/search">
                    <p>EVENTOS</p>
                </a>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="homeDesktop">
        <div class="home">
            <div class="links">
                <div class="dd">
                    <a [@homeCards]="{value:'',params:{delay:0}}" class="bares" routerLink="/search">
                        <p>BARES</p>
                    </a>
                </div>
                <a [@homeCards]="{value:'',params:{delay:0.5}}" class="pubs" routerLink="/search">
                    <p>PUBS</p>
                </a>
                <a [@homeCards]="{value:'',params:{delay:0.7}}" class="bailes" routerLink="/search">
                    <p>BAILES</p>
                </a>
                <a [@homeCards]="{value:'',params:{delay:1}}" class="eventos" routerLink="/search">
                    <p>EVENTOS</p>
                </a>
            </div>
            <div class="footer"></div>
        </div>
    </div>
</ng-template>