<div class="headerNavbar">
    <div class="headerBackIcon">
        <a routerLink="{{this.backPage}}"><app-button-icon [iconClass]="'bi bi-chevron-left'"></app-button-icon></a>
    </div>  
    <div class="headerText">
        <app-header-text [text]="currentText"></app-header-text>
    </div>
    <div class="headerIcons">
        <app-button-icon *ngIf="currentIcon1" [iconClass]="currentIcon1"></app-button-icon>
        <app-button-icon *ngIf="currentIcon2" [iconClass]="currentIcon2"></app-button-icon>
    </div>
</div>