.size{
    display: flex;
    flex-direction: column;
}

.k{
    padding-bottom: 100%;
}
.title_margin{
    padding-top: 22vh !important;
}
.display {
    display: flex;
    justify-content: center;
}

.t{
    background-color: rgb(190, 190, 190);
}

.t:checked {
    background-color: #6B2CF5;
    border-color: #D450E6;
}

.bottom-button {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

a {
    all: unset;
}

.alert{
    position: fixed;
    right: 2%;
    max-width: 80%;
}