div{
    height: 100vh;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    //top:0;
}

.container-fluid{
    height: 8vh;
    padding-left: 8%;
    padding-right: 8%;
}

.footerDesktop{

    .border-top{
        border-top: 2px solid #636363;
    }
}