.entertainmentMobile{
    display: flex;
    flex-direction: column;
    align-items: center;

    .entertainment{
        width: 90%;
    }

    .index{
        z-index: 1;
    }
}

.entertainmentDesktop{
    width: 100%;
    height: 84vh;
    display: flex;
    justify-content: center;
}