.entertainmentMobile{
    display: flex;
    flex-direction: column;

    .entertainment{
        width: 100%;
    }

    .index{
        z-index: 1;
    }
}

.entertainmentDesktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .entertainment{
        width: 65%;
        height: 70%;
    }

    .index{
        z-index: 0;
    }
}

