.bar-style{
    position: fixed;
    top:0%;
    background-color:#181818;
    width: 100%;
}

.px-3{
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.marginMobile{
    padding-top: 10vh;
}

.marginDesktopContainer{
    padding-top: 12.5vh;
    margin-top: 0;
}