p{
    overflow-wrap: break-word;
}

.size{
    min-width: 30%;   
    max-width: max-content;   
    height: 100%;
    border-radius: 5px 25px 45px 65px;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 2%;
    &.recibe{
        border-radius: 5px 25px 45px 65px;
        //background: linear-gradient(180deg, #FFE53B 0%, #FF2525 100%);;
        background: linear-gradient(180deg, #1EADF0 0%, #0AFB60 100%);
        color: black;
        font-weight: 600;
    }
    &.send{
        border-radius: 25px 5px 65px 45px;
        background: linear-gradient(180deg, #D450E6 0%, #6B2CF5 100%);
    }
}

.sended {
    display: flex;
    justify-content: flex-end;
}


