<div class="modal-body">
    <div class="row">
        <div class="col-8">
            <div class="max-width mx-auto">
                <input #imageInput id="file" type="file" accept="image/*" (change)="chargePrevViewImage()" hidden #file>
                <app-generic-button [buttonStyle]="'fill'" [btnText]="'Seleccione una imagen...'" (click)="file.click()">
                </app-generic-button>
            </div>
            <div class="max-width mx-auto">
                <app-generic-button [buttonStyle]="'empty w-100'" [btnText]="'Subir'" (click)="chargeImage()">
                </app-generic-button>
            </div>
        </div>
        <div class="col-4 prev-view-user-photo">
            <app-user-photo *ngIf="prevImageLink" [imageURL]="prevImageLink"></app-user-photo>
        </div>
    </div>
</div>