.fi-button {
    
    background: linear-gradient(180deg, rgb(212, 80, 230) 0%, #6B2CF5 100%);
    
    border: 0; //Permite definir reglas para el estilo del borde del elemento.
    height: 30%;
    color: white; //Especifica el color del contenido.
    max-width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 50%;    
}

.modal-body{
    height: 20vh;
}

.max-width{
    position: absolute;
    width: 50%;
    padding-bottom: 5%;
    bottom: 0;
}