<div class="modal-body">
    <div class="row">
        <div class="col-8">
            <label class="fi-button px-2" for="file">Seleccione una imagen...</label>
            <input #imageInput id="file" type="file" class="fi-button" name="postImg" accept="image/*"
                (change)="chargePrevViewImage()" hidden>
            <div class="max-width mx-auto">
                <app-generic-button [buttonStyle]="'empty w-100'" [btnText]="'Subir'" (click)="chargeImage()">
                </app-generic-button>
            </div>
        </div>
        <div class="col-4 prev-view-user-photo">
            <app-user-photo *ngIf="prevImageLink" [imageURL]="prevImageLink"></app-user-photo>
        </div>
    </div>
</div>