<div class="timer pos mt-4 {{isMobile ? 'mobile' : ''}}">
    <div class="mx-2">
        <p>{{this.countdown.days}}</p>
        <span class="title">Días</span>
    </div>
    <p class="separator">:</p>
    <div class="mx-2">
        <p>{{this.countdown.hours}}</p>
        <span class="title">Horas</span>
    </div>
    <p class="separator">:</p>
    <div class="mx-2">
        <p>{{this.countdown.minutes}}</p>
        <span class="title">Minutos</span>
    </div>
    <p class="separator">:</p>
    <div class="mx-2">
        <p>{{this.countdown.seconds}}</p>
        <span class="title">Segundos</span>
    </div>
</div>