<ngb-carousel *ngIf="showedEntertainments && showedEntertainments!.length > 0" #carousel (slid)="chargeMoreCards()" [wrap]="false" id="carouselDesktop" class="carousel" [interval]="0" [showNavigationIndicators]="false">
    <ng-template #carousel2  ngbSlide *ngFor="let entertainments of showedEntertainments; let i = index" [id]="i.toString()">
        <div class="row carouselCards mx-4">
            <app-card class="p" [@searchedCardsDesktop]="{value:'', params:{delay:1/10}}" class="col" [entertainment]="entertainments[0]"></app-card>
            <app-card class="p" [@searchedCardsDesktop]="{value:'', params:{delay:2/10}}" class="col" [entertainment]="entertainments[1]"></app-card>
            <app-card class="p" [@searchedCardsDesktop]="{value:'', params:{delay:3/10}}" class="col" [entertainment]="entertainments[2]"></app-card>
        </div>
    </ng-template>
</ngb-carousel>
<div *ngIf="!showedEntertainments" class="spinner" >
    <div class="spinner-border" role="status"></div>
</div>