#carouselDesktop {
    height: 100%;
}

.col:hover {
    transform: scale(1.08);
}

.row {
    flex-wrap: nowrap;
}

#carouselDesktop .col {
    max-width: 33.3333333%;
}


.spinner {
    color: #6B2CF5;
    display: flex;
    height: 66vh;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}