.mt {
    margin-top: 8vh;
}

.display {
    display: flex;
    justify-content: center;
}

.t{
    background-color: rgb(190, 190, 190);
}

.t:checked {
    background-color: #6B2CF5;
    border-color: #D450E6;
}

.bottom-button {
    position: fixed;
    bottom: 5%;
    width: 100%;
}