.form-control{
    color: white;
    border: none;
    background: rgb(48, 47, 47);
    border-radius: 20px;   
    width: 105%;
    height: 2.4rem;
}

.btn{
    width: 2.4rem;
    height: 2.4rem;
    background: linear-gradient(180deg, #D450E6 0%, #6B2CF5 100%);
    border: 0;
    color: white;
}

.col-2{
    display: flex;
    justify-content: center;
}