<div class="filter">
    <div class="colored {{this.sections[0][1]}}" (click)="filter(0)"><p class="px-2">Todos</p></div>
    <div class="colored {{this.sections[1][1]}}" (click)="filter(1)"><p class="px-2">Bailes</p></div>
    <div class="colored {{this.sections[2][1]}}" (click)="filter(2)"><p class="px-2">Bares</p></div>
    <div class="colored {{this.sections[3][1]}}" (click)="filter(3)"><p class="px-2">Pubs</p></div>
    <div class="colored {{this.sections[4][1]}}" (click)="filter(4)"><p class="px-2">Eventos</p></div>
</div>