<div class="modal-body">
    <app-input-user-credentials #code class="w-100" [inputLabel]="'Codigo de verificación'"
        [inputTypeAutocomplete]="'number'">
    </app-input-user-credentials>
    <div class="button mx-auto">
        <app-generic-button [buttonStyle]="'fill mt-3'" [btnText]="'Enviar'" (click)="verify()">
        </app-generic-button>
    </div>
</div>
<p class="alert" *ngIf="errorMessage" >
    <ngb-alert [@alertMessages] [type]="'danger'" (closed)="errorMessage = undefined">{{errorMessage}}</ngb-alert>
</p>