html {
    height: 100%;
}

body {
    background-color: #181818;
}

.fondo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./assets/images/bg.jpg");
    height: 100%;
    width: 100vw;
    background-size: auto 100%;
}

.fill-section {
    height: 6vh;
}

.blur-back {
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100vw;
    background-size: auto 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.center {
    text-align: center;
}

.or {
    display: inline-block;
    position: relative;
}

.or::after,
.or::before {
    content: "";
    position: absolute;
    width: 5em;
    height: 1px;
    background-color: rgba($color: white, $alpha: 0.5);
    top: 0.78em;
}

.or::before {
    left: -5rem;
}

.or::after {
    right: -5rem;
}

.center-or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo-chatPreview .photo-cropper {

    width: 3.5rem;

    height: 3.5rem;
}

.user-chat-message .photo-cropper {
    width: 2.5rem;
    height: 2.5rem;
}

.user-photo-profile .photo-cropper {
    width: 7rem;
    height: 7rem;
}

.prev-view-user-photo .photo-cropper {
    width: 6.5rem;
    height: 6.5rem;
}

.spinner {
    color: #6B2CF5;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.backdrop {
    backdrop-filter: blur(8px);
}

.modal-content {
    border-radius: 2rem;
    background-color: #181818;
}

.cards-grid {
    height: 86.5vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.404);
}

.profile .spinner {
    height: 56vh !important;
}




a {
    cursor: pointer;
}

.size {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.profile .carouselCards .entertainment-card {
    width: 100% !important;
    height: 56vh !important;
    min-height: 300px;

    a .image {
        height: 100% !important;
    }

    .prub {
        top: -16% !important;
    }
}

.search .carouselCards .entertainment-card {
    width: 100% !important;
    height: 66vh !important;

    a .image {
        height: 100% !important;
    }

    .prub {
        top: -20% !important;
    }
}

.size .transparent {
    width: 100% !important;
}

.carousel-inner {
    padding-bottom: 3vh;
}

#carouselDesktop button.carousel-control-prev {
    justify-content: flex-start;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}

#carouselDesktop button.carousel-control-next {
    justify-content: flex-end;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}

.marginDesktopContainer {
    max-width: 60%;
    min-width: 720px;

    .filterSpacing {
        margin-top: 1.5rem;
    }
}

#carouselDesktop .row {
    margin-top: 1rem;
}


.display-info-mobile .carousel-inner {
    padding-bottom: 0;
}

@media screen and (min-width: 900px) {
    body {
        background: linear-gradient(0deg, rgba(24, 24, 24, 0.4), rgba(24, 24, 24, 0.4)), radial-gradient(37.82% 58.5% at 50% 53.22%, rgba(0, 0, 0, 0.6) 0%, #181818 100%), url("./assets/images/desktopBG1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        overflow-x: hidden;
        background-color: #181818;
    }

    .bottom-button .fondo {
        background: none;
    }
}

@media screen and (max-height: 610px) {
    .bottom-button {
        position: relative !important;
    }
}

@media screen and (min-width: 600px) {
    .size {
        width: 270px;
    }
}

body::-webkit-scrollbar {
    width: 10px;
}

.carousel-events .entertainment-card {
    height: 30vh !important;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
}

.carousel-events .carousel-inner {
    padding-bottom: 0;
}