/* You can add global styles to this file, and also import other style files */

body {
    background-color:#181818;
}

.fondo{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./assets/images/bg.jpg");
    height: 100vh;  
    width: 100vw;
    background-size: auto 100%;
    overflow: hidden;
}

.fill-section {
    height: 6vh;
}

.blur-back {
    backdrop-filter: blur(8px);
    height: 100vh;  
    width: 100vw;
    background-size: auto 100%;
    overflow: hidden;
}

.center{
    text-align: center;
}

.or {
    display: inline-block;
    position: relative;
}

.or::after, .or::before{
    content: "";
    position: absolute;
    width: 5em;
    height: 1px;
    background-color: rgba($color: white, $alpha: 0.5);
    top: 0.78em;
}

.or::before {
    left: -5em;
}

.or::after {
    right: -5em;
}

.center-or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo-chatPreview .photo-cropper  {
    
    width: 3.5rem; //Especifica el ancho del area de contendio del elemento. (es lo que esta dentro del margin, padding, etc).
                //(la unidad "rem" signifixa que es relativo al tamaño del elemento raiz)
    
    height: 3.5rem; //Especifica la altura del area de contendio del elemento. (es lo que esta dentro del margin, padding, etc).
                //(la unidad "rem" signifixa que es relativo al tamaño del elemento raiz)
}

.user-chat-message .photo-cropper  {
    
    width: 2.5rem; //Especifica el ancho del area de contendio del elemento. (es lo que esta dentro del margin, padding, etc).
                //(la unidad "rem" signifixa que es relativo al tamaño del elemento raiz)
    
    height: 2.5rem; //Especifica la altura del area de contendio del elemento. (es lo que esta dentro del margin, padding, etc).
                //(la unidad "rem" signifixa que es relativo al tamaño del elemento raiz)
}

.user-photo-profile .photo-cropper  {
    
    width: 7rem; //Especifica el ancho del area de contendio del elemento. (es lo que esta dentro del margin, padding, etc).
                //(la unidad "rem" signifixa que es relativo al tamaño del elemento raiz)
    
    height: 7rem; //Especifica la altura del area de contendio del elemento. (es lo que esta dentro del margin, padding, etc).
                //(la unidad "rem" signifixa que es relativo al tamaño del elemento raiz)
}

.backdrop{
    backdrop-filter: blur(8px);
}

.modal-content{
    border-radius: 2rem;
    background-color: black;
}

.cards-grid{
    width: 90vw;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}