<div class="fondo">
    <div class="blur-back">
        <div class="mx-3">
            <app-header-navbar [firstIcon]="'bi bi-chevron-left'" [backPage]="'/presentation'"></app-header-navbar>
        </div>
        <div class="display text-light mt-5">
            <h1 class="title_margin">SIGNUP</h1>
        </div>
        <div class="mx-5 pb-4" fxLayout="column" fxLayoutAlign="space-evenly center">
            <app-input-user-credentials [inputLabel]="'Nombre'"></app-input-user-credentials>
            <app-input-user-credentials [inputLabel]="'Apellido'"></app-input-user-credentials>
            <app-input-user-credentials [inputLabel]="'Username'"></app-input-user-credentials>
            <app-input-user-credentials [inputLabel]="'Email Adress'"></app-input-user-credentials>
            <app-input-user-credentials [inputLabel]="'Password'"></app-input-user-credentials>
        </div>
        <div class="mt-5" fxLayoutAlign="center center">
            <a routerLink="/home" routerLinkActive="active" fxFlex="70">
                <app-generic-button [buttonStyle]="'fill'" [btnText]="'singup'"></app-generic-button>
            </a>
        </div>
        <div class="bottom-button">
            <div class="center-or">
                <p class="mt-1 mb-1 text-light px-1 or">or</p>
            </div>
            <div fxLayoutAlign="center center">
                <a routerLink="/login" routerLinkActive="active" fxFlex="70">
                    <app-generic-button [buttonStyle]="'empty'" [btnText]="'Login'"></app-generic-button>
                </a>
            </div>
        </div>
    </div>
</div>