<div class="fondo" >
    <div class="blur-back">
        <div class="mx-3">
            <app-header-navbar [backPage]="'/presentation'"></app-header-navbar>
        </div>
        <div class="display text-light mt-5">
            <h1 class="title_margin">SIGNUP</h1>
        </div>
        <div class="mx-5">
            <div class="mt-2 display">
                <app-input-user-credentials [inputLabel]="'Nombre'"></app-input-user-credentials>
            </div>
            <div class="mt-2 display">
                <app-input-user-credentials [inputLabel]="'Apellido'"></app-input-user-credentials>
            </div>
            <div class="mt-2 display">
                <app-input-user-credentials [inputLabel]="'Username'"></app-input-user-credentials>
            </div>
            <div class="display mt-2">
                <app-input-user-credentials [inputLabel]="'Email Adress'"></app-input-user-credentials>
            </div>
            <div class="mt-2 display">
                <app-input-user-credentials [inputLabel]="'Password'"></app-input-user-credentials>
            </div>
        </div>
        <div class="center mt-5">
            <a routerLink="/home" routerLinkActive="active"><app-generic-button [buttonStyle]="'fill buttonMobile'" [btnText]="'SignUp'"></app-generic-button></a>
        </div>
        <div class="bottom-button">
            <div class="center-or">
                <p class="mt-1 mb-1 text-light px-1 or">or</p>
            </div>
            <div class="center">
                <a routerLink="/login" routerLinkActive="active"><app-generic-button [buttonStyle]="'empty buttonMobile'" [btnText]="'Login'"></app-generic-button></a>
            </div>
        </div>
    </div>
</div>
