
<div class="row {{getMessageType == 'send' ? 'row-aling' : ''}}">
    <div class="col-10 text-light my-1 sended" *ngIf="getMessageType == 'send'">
        <div class="messageSize send">
            <p>{{messageInfo?.message?.messageContent}}</p>
        </div>
    </div>
    <div class="col-auto p-0 mb-1">
        <div class="user-chat-message">
            <app-user-photo [imageURL]="getImageLink"></app-user-photo>
        </div>
    </div>
    <div class="col-10 text-light my-1" *ngIf="getMessageType == 'recibe'">
        <div class="messageSize recibe">
            <p>{{messageInfo?.message?.messageContent}}</p>
        </div>
    </div>
</div>